[wokwi]
version = 1
firmware = '.esphome/build/{{project_name}}/.pioenvs/{{project_name}}/firmware.elf'
elf = '.esphome/build/{{project_name}}/.pioenvs/{{project_name}}/firmware.elf'

# wifi SSID is Wokwi-GUEST
# https://docs.wokwi.com/guides/esp32-wifi
